:root {
  --spacing: .5rem;
  --spacing-2: calc(var(--spacing) * 2);
  --spacing-3: calc(var(--spacing) * 3);
  --spacing-4: calc(var(--spacing) * 4);
  --spacing-5: calc(var(--spacing) * 5);
  /** define color and other variables here */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    > header {
      display: flex;
      align-items: baseline;
      justify-content: center;
      gap: var(--spacing);
      background-color: #282c34;
      padding: var(--spacing-2);
      color: white;
      text-align: center;

      > h1,
      a {
        margin: 0;
      }

      > a {
        color: #61dafb;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    > main {
      flex: 1;
      display: flex;
      flex-direction: column;
      background-color: #f0f0f0;
    }
  }
}

.cards-container {
  flex: 1;
  width: 430px;
  height: 100%;
  background-color: #767676;
  margin: 0 auto;
  padding: var(--spacing-4);
}
